NEXT_PUBLIC_APP_NAME=Doble Altura Control
NEXT_PUBLIC_VERSION=v1.0.0
NEXT_PUBLIC_ENV=Produccion
NEXT_PUBLIC_COMPANY=Doble Altura Construcciones S.A.S.
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_DOCUMENTS_BUCKET=dac-project-documents

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_SERVICE_KEY=
